@import "tailwindcss";

@media print {
  @page { 
    size: letter; 
    margin: 0; 
  }

  .project-item {
    break-inside: avoid;
    /* This ensures that if the project starts on a new page, 
       it has breathing room from the top edge */
    padding-top: 0.1in; 
  }
}
